<h1 class="jumbotron">Welcome to the Doctor's Office!</h1>

<% if @doctors.any?() %>
<div class="col">

</div>
<h2>Doctors:</h2>

<ul class="well">
  <% @doctors.each() do |doctor| %>
    <li><a href="/doctor/<%= doctor.id %>"><%= doctor.name() %>, <%= doctor.specialty() %></a>
      <form action="/assign" method="post">
        <input type="hidden" name="doctor_id" value="<%= doctor.id %>">
        <select class="form control" name="assignment" id="assignment">
          <% @patients.each() do |patient|
             if patient.doctor_id.==(0)%>
              <option value='<%= patient.id() %>'><%= patient.name() %></option>
            <% end
           end%>
          </select>
          <button class="btn-primary" type="submit">Assign Patient</button>
        </form>
      </li>
  <% end %>
</ul>

<% else %>
<h2>There are not any doctors in this office yet.</h2>
<% end %>

<% if @patients.any?() %>
<h2>Patients:</h2>

<ul class="well">
  <% @patients.each() do |patient| %>
    <li><%= patient.name() %>, <%= patient.birthdate() %></li>
  <% end %>
</ul>

<% else %>
<h2>There are not any patients in this office yet.</h2>
<% end %>

<h2>Add a New Medical Specialty:</h2>
<form action="/new_specialty" method="post">
  <label for="specialty">Specialty</label>
  <input id="specialty" name="specialty" type="text">
  <button class="btn-primary" type="submit">Add Specialty</button>
</form>

<h2>Add a New Doctor:</h2>

<form action="/new_doctor" method="post">
  <label for="name">Doctor Name</label>
  <input id="name" name="name" type="text">

  <label for="specialty">Doctor Specialty</label>
    <select class="form control" name="specialty" id="specialty">
      <% @specialties.each() do |specialty|%>
          <option><%= specialty.name %></option>
        <%end%>
      </select>

  </select>
  <button class="btn-primary" type="submit">Add Doctor</button>
</form>
<h2>Add a New Patient</h2>
<form action="/new_patient" method="post">
  <label for="patient">Patient Name</label>
  <input id="patient" name="patient" type="text">

  <label for="birthdate">Patient Specialty</label>
  <input id="birthdate" name="birthdate" type="date">

  <button class="btn-primary" type="submit">Add Patient</button>
</form>
<a href="/clear"><button class="btn-primary" type="button" name="clear">Clear Doctors</button></a>
